{% extends 'layout.html' %}
{% block auth_content %}
<div class="card border-0 shadow-lg p-4 rounded-4" style="width: 100%; max-width: 400px; background-color: var(--bg-card); color: var(--text-main);">
    <div class="text-center mb-4">
        <h3 class="fw-bold">Buat Akun</h3>
        <p class="text-muted small">Mulai perjalanan karyamu di sini.</p>
    </div>
    <form action="{{ url_for('auth.register') }}" method="post">
        <div class="mb-3"><input type="text" name="username" class="form-control py-2 rounded-3" placeholder="Username (tanpa spasi)" required></div>
        <div class="mb-3"><input type="email" name="email" class="form-control py-2 rounded-3" placeholder="Email Aktif" required></div>
        <div class="mb-3"><input type="password" name="password" class="form-control py-2 rounded-3" placeholder="Password Kuat" required></div>
        <button type="submit" class="btn-primary-custom w-100 rounded-3 py-3 fw-bold mt-2">Daftar</button>
    </form>
    <div class="text-center mt-4">
        <small class="text-muted">Sudah punya akun? <a href="{{ url_for('auth.login') }}" class="text-accent fw-bold text-decoration-none">Login</a></small>
    </div>
</div>
{% endblock %}